<div *ngIf="!spinnerOnOff; else loading">
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="overlay-loader">
    <div class="loader">
      <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div>
    </div>
  </div>

</div>

<ng-template #loading>

  <pagination-app> </pagination-app>

  <flat-item-app *ngFor="let item of itemsFlat, let index = index"  [item]="item" [index]="index" > </flat-item-app>

  <pagination-app> </pagination-app>


</ng-template>


<!--

<section *ngIf="trueResponse; else not_found">  &lt;!&ndash;then loading &ndash;&gt;

  <div *ngIf="loadingVar; else loading">

    <pagination-app> </pagination-app>

    <flats-list-app> </flats-list-app>

    <pagination-app> </pagination-app>

  </div>

  <ng-template #loading>

    ... Loading 000000000000

  </ng-template>

</section>

&lt;!&ndash;<ng-template  #loading>&ndash;&gt;
  &lt;!&ndash;...LOAD...LOAD...LOAD...LOAD...LOAD...LOAD...LOAD...LOAD...LOAD...LOAD...LOAD...LOAD&ndash;&gt;
&lt;!&ndash;</ng-template>&ndash;&gt;

<ng-template #not_found class="not-found">

  <h1> Drat! We can't find any properties</h1>
  <p> We will inform you as soon as we have new properties with these features </p>

</ng-template>
-->



<!--<div  class="flat-card" *ngFor="let item of itemsFlat, let index = index ">-->

<!--<div class="flat-card-img">-->
<!--<img class="flat-card-img-img" src="{{item.img_url}}" alt="{{item.title}}" title="{{item.title}}">-->
<!--</div>-->

<!--<div class="flat-card-description">-->
<!--<div class="description-title">-->
<!--<div class="description-title-title">{{item.title}}</div>-->
<!--<div [ngClass]="{starActive: item['starActiveIndicator'] ? item['starActiveIndicator'] : false}" (click)="toggleActive(index)" class="description-star"> </div>-->
<!--</div>-->

<!--<div class="description-keywords">-->
<!--{{item.keywords}}-->
<!--</div>-->

<!--<div class="description-descr">-->
<!--{{item.summary}}-->
<!--</div>-->

<!--<div class="description-seen">-->
<!--<span class="description-seen&#45;&#45;active"> {{item.updated_in_days_formatted}} </span>-->
<!--<span> on </span>-->
<!--<span>  {{item.datasource_name | uppercase}} </span>-->
<!--</div>-->
<!--</div>-->

<!--<div class="flat-card-price-column">-->
<!--<div class="price-string">-->
<!--{{item.price_formatted}}-->
<!--</div>-->

<!--<div class="home-valuation">-->
<!--Home Valuation  {{id }}-->
<!--city {{city}}-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
