<header>

  <div class="logo">
    <a routerLink="">
      <img class="logo-img" src="/src/assets/img/logo_v1.svg" alt="Logo">
    </a>
  </div>

  <div class="header-panel">

    <div class="filters-alert header-panel-elment">
      <div class="filters-bnt btn active-bnt"> Filters </div>
      <div class="alerts-btn btn"> Alerts </div>
    </div>

    <div class="search-string header-panel-elment">

      <span class="search-icon"></span>

      <form class="search-form" [formGroup]="searchForm" novalidate (ngSubmit)="submit()">
        <input formControlName="searchString" class="search-string-input" type="text" placeholder="Enter City"> <!--(change)="drawLine()"-->
        <button class="btnn" (click)="addItem()" [disabled]="searchForm.invalid"> GO </button>
      </form>

      <span class="search-mask__label"> | Change</span>

    </div>

    <div class="list-map header-panel-elment">
      <div [routerLink]="['buy']" routerLinkActive="active-bnt" class="list-btn btn ">List {{id}} </div>
      <div  routerLink="/favorite" routerLinkActive="active-bnt" class="fav-btn btn">FavList <div class="fav-btn-img"> </div> </div>
    </div>

  </div>

</header>

<main>
  <aside class="sidebar">
    <h3 class="sidebar-title">{{title}}</h3>
    <app-sidebar></app-sidebar>  <!--    ??? Возможно тут лучше сделать через ngIf 2 компонента-->
  </aside>

  <section class="main-display">

    <div class="overlay-loader">
      <div class="loader">
        <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div>
      </div>
    </div>

    <!--<pagination-app> </pagination-app>-->

    <router-outlet>  </router-outlet>

    <!--<pagination-app> </pagination-app>-->    <!--  В этой пагинации работает актив!!  -->

  </section>

  <div class="right-aside">
    <br>
    <br>
    <br>
    <br>
    <h3> Маршрутизация в Angular 6 </h3>

    <nav>
      <a routerLink=""  routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}"> Главная</a>

      <a routerLink="/about"  routerLinkActive="active"> О сайте</a>
      <a [routerLink]="['item', '5']" routerLinkActive="active"> item 5 </a>
      <a [routerLink]="['item', '8']" routerLinkActive="active"> item 8 </a>
      <a routerLink="/contact"  routerLinkActive="active"> contact</a>
      <button (click)="goMet()" routerLinkActive="active">На Metanit</button>
    </nav>

  </div>

</main>


