h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
}

.header-panel{
  display: flex;
}

.header-panel-elment{
  display: flex;
}

.logo{
  background-color: #0073d9;
  text-align: center;
}

.logo-img{
  width: 130px;
  height: 50px;
}

.btn{
  padding: 10px;
  margin: 10px 25px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  width: 75px;
  cursor: pointer;
  text-align: center;
  color: #0073d9;
  font-weight: bold;
}

.active-bnt{
  color: #fff;
  background-color: #0073d9;
}

.search-form{
  width: 99%;
}

.search-string-input{
  height: 25px;
  width: 70%;
  margin: 10px 10px 10px 70px;
  padding-left: 15px;
  border-radius: 3px;
}

.filters-alert, .list-map{
  width: 30%;
}

.filters-bnt{
  margin-left: 25%;
}

.search-string{
  width: 55%;
}

main{
  display: flex;
}

/*.sidebar{*/
  /*width: 20%;*/
/*}*/

.main-display{
  width: 95%;
  padding: 15px;
  min-height: 800px;
}

.right-aside{
  width: 5%;
}

.btnn{
  cursor: pointer;
}

.sidebar-title{
  text-align: center;
}

.fav-btn-img{
  height: 21px;
  width: 23px;
  background: url('/src/assets/img/favor_hov.png');
  background-size: cover;
  margin: 0 auto;
}

/*.active {*/
  /*color: #fff;*/
  /*background-color: #f6bb42;*/
/*}*/


/*.pagination-panel{*/
  /*text-align: center;*/
  /*margin: 10px;*/
/*}*/

/*.pagination-btn{*/
  /*padding: 7px;*/
  /*display: inline-block;*/
  /*cursor: pointer;*/
  /*border: solid lightgrey 1px;*/
  /*width: 20px;*/
  /*text-decoration: none;*/
/*}*/

/*.pagination-btn:hover{*/
  /*background-color: gainsboro;*/
  /*color: orange;*/
/*}*/
