<section>

  <!--<div class="filtercontrols-row sweach-type">-->
    <!--<div class="to-rent-type">For Rent</div>-->
    <!--<div class="to-sale-type">For Sale</div>-->
  <!--</div>-->
  <!--<div class="filtercontrols-row sort-by">-->
    <!--<div class="sort-by-title">Sort:</div>-->
    <!--<select name="sort-select" id="">-->
      <!--<option value="nestoria_rank" selected> Nestoria Rank </option>-->
      <!--<option value="price_h_l"> Price (high to low) </option>-->
      <!--<option value="price_l_h"> Price (low to high) </option>-->
    <!--</select>-->
  <!--</div>-->
  <!--<div class="filtercontrols-row beds-toggle"></div>-->
  <!--<div class="filtercontrols-row price-toggle"></div>-->

</section>


