<div  class="flat-card">

  <div class="flat-card-img">
    <img class="flat-card-img-img" src="{{item.img_url}}" alt="{{item.title}}" title="{{item.title}}">
  </div>

  <div class="flat-card-description">
    <div class="description-title">
      <div class="description-title-title">{{item.title}}</div>
      <div [ngClass]="{starActive: item['starActiveIndicator'] ? item['starActiveIndicator'] : false}" (click)="toggleActive(index)" class="description-star"> </div>
    </div>

    <div class="description-keywords">
      {{item.keywords}}
    </div>

    <div class="description-descr">
      {{item.summary}}
    </div>

    <div class="description-seen">
      <span class="description-seen--active"> {{item.updated_in_days_formatted}} </span>
      <span> on </span>
      <span>  {{item.datasource_name | uppercase}} </span>
    </div>
  </div>

  <div class="flat-card-price-column">
    <div class="price-string">
      {{item.price_formatted}}
    </div>

    <div class="home-valuation">
      Home Valuation
      <span *ngIf="item.lister_name"> lister: {{item.lister_name}} </span>
    </div>
  </div>

</div>

